.topcontainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 20px;
}

.profileimage {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  background-image: url("../image/profile-image.svg");
  background-size: cover;
  background-position: center;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.profilename,
.profilelevel {
  background-color: #8eb0ff;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  width: 100px;
}

.title {
  margin-top: 10px;
  width: 80vw;
  background-color: #e4ecff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.note {
  width: 95vw;
  height: 300px;
  border-radius: 15px;
  background-color: #e4ecff;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

#detail_button{
  flex: 1 ;
  width: 30vw;
  padding: 1%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* button {
  flex: 1 ;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */

.heart {
  background-color: #ffffff;
}

.back,
.apply {
  background-color: #e4ecff;
}

.apply:hover,
.back:hover,
.heart:hover {
  background-color: #d3e1ff;
}

.comment-section {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 전체 섹션을 중앙에 정렬 */
  width: 100%;
}

.comment {
  width: 100%;
  margin-left: 20vw;
  /* max-width: 500px; 중앙 정렬을 유지하면서 최대 너비 설정 */
  background-color: #ffffff;
  margin-bottom: 10px;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  text-align: left; /* 글자는 왼쪽 정렬 */
  padding-left: 10px; /* 글자를 약간 띄워서 보기 좋게 */
}

.commentbox {
  width: 100%;
  max-width: 500px;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 댓글 내용은 왼쪽 정렬 */
}

/* .comment-nickname {
  font-weight: bold;
  color: #4b6cb7;
  margin-bottom: 5px;
  font-size: 16px;
} */

.comment-text {
  font-size: 14px;
  color: #555;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  /* max-width: 500px; 중앙 정렬 유지 */
}

.comment-input {
  width: 70vw;
  /* max-width: 500px; */

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-comment {
  background-color: #4b6cb7;
  color: white;
  border: none;
  padding: 10px !important;
  border-radius: 5px;
  cursor: pointer;
  width: 120px !important;
  align-self: flex-end;/* 댓글 제출 버튼은 오른쪽으로 정렬 */
  margin-right: 10vw;
  margin-bottom: 10vw;
}

.submit-comment:hover {
  background-color: #3a5aa0;
}

.heart.active {
  background-color: #fd8e8e;
}